@keyframes placeAnimation {
  0% {
    transform: scale(0.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes placeAnimation1 {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes placeAnimation2 {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes placeAnimation3 {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes placeAnimation4 {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes placeAnimation5 {
  0% {
    transform: scale(0.25);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.cell {
  border: 1px solid black;
}

.cell:hover {
  border: 3px solid var(--accent);
}

.cell-normal {
  background: var(--static3);
  animation: placeAnimation 0.75s;
}

.cell-start {
  background: rgba(0, 128, 0, 0.8);
  animation: placeAnimation1 0.25s;
}

.cell-finish {
  background: rgba(255, 0, 0, 0.7);
  animation: placeAnimation2 0.25s;
}

.cell-wall {
  background: rgb(91, 91, 91);
  animation: placeAnimation3 0.25s;
}

.cell-highlight {
  background: var(--accent);
  animation: placeAnimation4 0.25s;
}

.cell-subtle-highlight {
  background: var(--secondary);
  animation: placeAnimation5 1s;
}
