.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  transition: 0.2s;
}

.cell:hover {
  border: 3px solid var(--accent);
}

.cell-normal {
  background: var(--static3);
}

.cell-start {
  background: rgba(0, 128, 0, 0.8);
}

.cell-finish {
  background: rgba(255, 0, 0, 0.7);
}

.cell-highlight {
  background: var(--accent);
}

.cell-subtle-highlight {
  background: var(--secondary);
}
