.separator {
  border: 1px solid var(--static5);
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 5px;
}

.navbar {
  height: 100%;
  min-width: 225px;
  background: var(--static5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
}

.reset-graph {
  background: var(--static3);
  border: none;
  color: var(--text);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: var(--static3);
  color: var(--text);
  border: none;
  border-radius: 0.5rem;
  transition: 0.25s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 150px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  background: var(--bg);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: var(--text);
  padding: 0.75rem;
  border-radius: 0.25rem;
  transition: 0.25s;
}

/* Change color of dropdown links on hover */
.dropdown-content .dropdown-item:hover {
  background-color: var(--static3);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--accent);
}

@keyframes btnHoverGlowIn {
  from {
    box-shadow: 1px 1px 20px #3b93f71d;
  }

  to {
    box-shadow: 1px 1px 20px 5px #3b93f738;
  }
}

@keyframes btnHoverGlowOut {
  from {
    box-shadow: 1px 1px 20px 5px #3b93f738;
  }

  to {
    box-shadow: 1px 1px 20px #3b93f71d;
  }
}

.visualize-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: var(--primary);
  border: none;
  box-shadow: 1px 1px 20px #3b93f71d;
  color: var(--text);
  animation: btnHoverGlowOut 0.5s;
}

.visualize-btn:hover {
  animation: btnHoverGlowIn 0.5s forwards;
}

.start-end-selector-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selector {
  font-size: 1rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--text);
}

.selector-icon {
  width: 25px;
  height: 25px;
}

.selector-highlight {
  background: var(--static25);
  transition: 0.25s;
}

.blue {
  background: blue;
}

.selector-normal {
  background: var(--static3);
  transition: 0.25s;
}

.graphWrapper {
  display: grid;
  grid-template-columns: repeat(40, minmax(40px, 1fr));
  grid-template-rows: repeat(20, minmax(40px, 1fr));
  overflow: scroll;
  margin-inline: auto;
}

::-webkit-scrollbar {
  background: var(--static-3);
  width: 7px;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--static-3);
  border-radius: 7px;
}

::-webkit-scrollbar-corner {
  background: var(--static-3);
}
